body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

a{
    display: block;
    color: white;
    background-color: #a77738;
    padding: 2em 7.5em;
    margin: 0.5em;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background-color: #ca9a5a;
}

h1{
    background-color: #ca9a5a;
    color: white;
    padding: 0.5em;
    margin: 0.2em;
}

.col{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border: 2px solid #a77738;
    background-color: #ca9a5a;
    font-size: 2rem;
    color: white;
    padding: 1em 2em;

}

button:hover{
    background-color:#c98b3b;
}

.radius15{
    border-radius: 10%;
}

#coloseum{
    width: 100%;
}

#menu{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


/* ===============
     Inventory 
================*/


.character{
    position: relative;
    height: 80vh;
    width: 40vw;
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.holder{
    width: 70%;
    height: 70%;
    position: relative;
    background-color: #ca9a5a;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.holder img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#back{
    top: 5%;
    left: 5%;
    position: absolute;
    border-radius: 50%;
    padding: 1em 1.5em;
}

.inventory{
    width: 45vw;
    height: 80vh;
    padding: 2.5em;
    background-color: burlywood;
    text-align: center;
}

.items{
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-gap: 1em;
    padding: 1em;
    background-color: #ca9a5a;
    border-radius: 5%;
    justify-content: center;
}

.item-box{
    width: 5em;
    height: 5em;
    border: 1px solid #a77738;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box:hover,
.item-box:focus
{
    background-color: rgb(245, 200, 146);
}

.item-box img{
    width: 100%;
}

#body{
    z-index: 1;
}

#hair{
    z-index: 3;
}

#dress{
    z-index: 2
}
#broom{
    z-index: 0;
}

.dress{
    margin-bottom: 45%;
    transform: scale(1.5);
}

.hair{
    margin-top: 30%;
    margin-left: 20%;
}

.broom{
    margin-bottom: 40%;
}

