body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(bisque,#ca9a5a);
    text-shadow: -1px -1px 0 #a77738, 1px -1px 0 #a77738, -1px 1px 0 #a77738, 1px 1px 0 #a77738;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main a,
#select-char{
    display: block;
    color: white;
    background-image: linear-gradient(to right,#ca9a5a,#f1c48b,#ca9a5a);
    box-shadow: 0px 0px 20px rgba(201, 135, 50, 0.8);
    padding: 2em 7.5em;
    margin: 1.5rem 0.5em;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px -1px 0 #a77738, 1px -1px 0 #a77738, -1px 1px 0 #a77738, 1px 1px 0 #a77738;
    cursor: pointer;
}

#select-char{
    font-weight: 300;
}

h1{
    color: white;
    padding: 0.5em;
    margin: 0.2em;
}

.col{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-image: linear-gradient(to right,#ca9a5a,#f1c48b,#ca9a5a);
    box-shadow: 0px 0px 20px rgba(201, 135, 50, 0.8);
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1em 2em;

}

.radius15{
    border-radius: 10%;
}

#coloseum{
    width: 100%;
}

#menu{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


/* ===============
     Inventory 
================*/


.character{
    position: relative;
    height: 80vh;
    width: 40vw;
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(201, 135, 50, 0.8);
}

.holder{
    width: 70%;
    height: 70%;
    position: relative;
}

.holder img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: 3s sola ease-in-out infinite;
    transform: translateX(-15px) rotateZ(-0deg);
}

#back{
    font-size: 1rem;
    top: 5%;
    left: 5%;
    position: absolute;
    border-radius: 50%;
    padding: 1em 1.5em;
    margin: 0.5em;
}

#cognitz{
    display:flex;
    top: 5%;
    right: 5%;
    position: absolute;
    border-radius: 20%;
    padding: 1em 1.5em;
    background-image: linear-gradient(to bottom,#f8dcb8,#e6b16d,#f8dcb8);
    color: white;
}

#cognitz img{
    width: 1rem;
    margin-left: 0.5em;
}

.inventory{
    width: 45vw;
    height: 80vh;
    padding: 2.5em;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(201, 135, 50, 0.8);
}

.items{
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-gap: 1em;
    padding: 1em;
    background-image: linear-gradient(to right,#ca9a5a ,bisque,#ca9a5a);
    border-radius: 5%;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(201, 135, 50, 0.8);
}

.item-box{
    position: relative;
    width: 100%;
    height: 5em;
    border: 1px solid #a77738;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(bisque,#ca9a5a);
    cursor: pointer;
}

.item-box:hover,
.item-box:focus,
.item-silouete:hover
{
    background-image: linear-gradient(#e7a64c,#ecd1ae,#e7a64c);
}

.item-box img{
    width: 100%;
}

#body{
    z-index: 1;
}

#hair{
    z-index: 3;
}

#dress{
    z-index: 2
}
#broom{
    z-index: 0;
}

.dress{
    margin-bottom: 45%;
    transform: scale(1.5);
}

.hair{
    margin-top: 30%;
    margin-left: 20%;
}

.broom{
    margin-bottom: 40%;
}

.cognit{
    margin-left: 0.2rem;
}

.buyBtn{
    position: absolute;
    bottom: -15%;
    font-size: 12px;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, bisque,#ca9a5a);
    cursor: pointer;
}

button:hover,
a:hover,
.buyBtn:hover,
#select-char:hover{
    background-image: linear-gradient(#e7a64c,#ecd1ae,#e7a64c);
}

.h1-flexie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(201, 135, 50, 0.8);
    background-image: linear-gradient(to right,bisque,#ca9a5a);
    margin-bottom: 1em;
    border-radius: 2%;
}

.holder-silouetes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-silouete{
    color: white;
    margin-right: 1.5em;
    width: 3em;
    height: 3em;
    border: 1px solid #a77738;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(bisque,#ca9a5a);
    cursor: pointer;
}

.item-silouete img{
    width: 100%;
}

.active-field{
    background-image: linear-gradient(#e7a64c,#ecd1ae,#e7a64c);
}


.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 5;
}

.modal img{
    width: 10em;
    height: 10em;
    margin: 1em;
    border: 2px solid #a77738;
}

.modal img:hover{
    opacity: 0.7;
}

@keyframes modal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes sola{
  0%{
    transform: translateX(-15px) rotateZ(-0deg);
  }
  50%{
    transform: translateX(15px) rotateZ(2deg);
  }
  100%{
    ransform: translateX(-15px) rotateZ(-0deg);
  }
}

@media (max-width: 1000px) {
    body{
        font-size: 0.5rem;
    }
    #entry{
        flex-direction: row;
    }
    #coloseum{
        width: 40%;
    }
    .items{
        grid-gap: 0.5em;
    }
    .item-box{
        height: 3em;
    }
    .item-box:hover > .buyBtn{
        display: flex;
    }
    .buyBtn{
        font-size: 8px;
        padding: 0.2em 0.5em;
        bottom: -30%;
        display: none;
    }
    .buyBtn img{
        width: 1em;
    }
    button{
        font-size: 1.5rem;
    }
    .dress{
        transform: scale(1);
        margin-bottom: 25%;
    }
    main a,
    #select-char{
        font-size: 0.6rem;
    }
    #back{
        font-size: 0.5rem;
    }
}
